@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;    }
    .main-section-first {
        max-width: 428px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-tab-с.jpg); }

    @media (min-device-pixel-ratio: 2),
            (min-resolution:192dpi), 
            (min-resolution:2dppx) {
        .main-section-first {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-tab-c-2x.jpg);}
        }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px; }
    .main-section-first {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/people-office-tab-с.jpg); }

    @media (min-device-pixel-ratio: 2),
            (min-resolution:192dpi), 
            (min-resolution:2dppx) {
        .main-section-first {
            max-width: 768px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/people-office-tab-c-2x.jpg);} }
 
    .main-h-first {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;    }
    .main-h-second {
        justify-content:left ;}
    .second-li {
        flex-basis: calc((100% - 24px) / 2); }
    .class-team-img {
        flex-basis: calc((100% - 24px) / 2);  }
    .customer-item-five {
        flex-basis: calc((100% - 48px) / 3); }
    .footer-class {
        max-width: 768px; 
        flex-direction: row; }
    .section-portfolio {
        max-width: 768px;  }
    .portfolio-li {
        flex-basis: calc((100% - 24px) / 2);}
    .flex-container {
        display: flex;
        align-items: center;
        gap: 40px;}
    .flex-container-four {
        flex-direction: row;
        row-gap: 64px;}
    .flex-container-five {
        gap: 72px 24px;}
    .main-adress {
        display: block;}
    .mob-menu { display: none;}
    .menu-open-btn { display: none;}
    .adr-container {
        display: block;
        row-gap: 12px;    }
    .modal {
        width: 408px;}
    .footer-first-block {
        align-items: flex-start;
        margin-left: 80px; 
       }
    .footer-second-block {
        align-items: flex-start;
        /* margin-right: 80px;    */
     }
     .footer-third-block {
        align-items: flex-start;
        margin-left: 80px;
     }
     
    .all-div-subscribe-class {
        flex-direction: row;}

    .main-section-four {
       /* padding: 120px 0; */
       min-width: 582px;
    }
    .main-section-five {
       /* padding: 120px 0; */
       min-width: 582px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;  }
    .main-section-first {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);}

    @media (min-device-pixel-ratio: 2),
            (min-resolution:192dpi),
            (min-resolution:2dppx) {
        .main-section-first {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/people-office-c-2x.jpg); } }
    .second-li {
        flex-basis: calc((100% - 72px) / 4);  }

    .class-team-img {
        flex-basis: calc((100% - 72px) / 4);  }

    .customer-item-five {
        flex-basis: calc((100% - 120px) / 6);  }

    .footer-class {
        max-width: 1440px; 
        justify-content: space-between;
        gap: 0; }

    .footer-first-block {
        /* align-items: flex-start; */
        /* margin-left: 120px; */
    }

    .footer-second-block {
        /* align-items: flex-start; */
        /* margin-left: 120px; */
        margin-left: 0px;
      }

    .footer-third-block {
        /* align-items: flex-start; */
        /* margin-left: 80px; */
        margin-left: 0px;
    }

    .section-portfolio {
        max-width: 1158px; }

    .portfolio-li {
            flex-basis: calc((100% - 48px) / 3); }
    .section-second-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: var(--portfolio-filter-background);
        border-radius: 4px;
        margin-bottom: 8px;  }
    .main-h-second {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;}
    .main-section-second {
        padding-top: 120px;
        padding-bottom: 120px;}
    .main-p-second {
        font-weight: 400;}
    .main-section-third {
        display: block;
        padding-bottom: 120px; }
    .main-section-four {
       padding: 120px 0;}
    .main-section-five {
       padding: 120px 0;
        min-width: 1158px; }
.adr-container {
    display: flex;
    gap: 40px;}
.main-email-tel{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
}
    